@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

/*Referenced from https://nextui.org/docs/components/navbar#controlled-menu*/
.custom-navbar header {
background-color: transparent; 
height: 80px;            
padding: 0;         
max-width: 100%;
}

.custom-navbar ul{
background-color: transparent;

}

a:focus {
outline: 2px solid #ff6347; 
outline-offset: 2px;
}

a:hover {
opacity: 80%;
}

li > a:focus{
  outline: 2px solid #ff6347; 
  outline-offset: 2px;
}

/* Referenced from https://codepen.io/gbopola/pen/GRBONQr*/

footer li > a {
  color: #1e1e1e; /* Initial color */
  text-decoration: none; /* Optional: Removes underline */
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease; /* Smooth transition for color */
}

footer li > a::after {
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 0;
  background: #ff6347;
  transition: width .5s;
}

footer li > a:hover::after {
  width: 100%;
}



@font-face {
  font-family: 'Satoshi-Light';
  src: url('/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf') format('woff2');

       font-weight: 300;
       font-display: swap;
       font-style: normal;
}



@font-face {
  font-family: 'Satoshi-Regular';
  src: url('/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf') format('opentype');

       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Italic';
  src: url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Italic.woff2') format('woff2'),
       url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Italic.woff') format('woff'),
       url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Medium.woff') format('woff'),
       url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('/fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf') format('opentype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}



@font-face {
  font-family: 'Satoshi-Black';
  src: url('/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf') format('opentype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
   font-family: 'PierSans-Black';
   src: url('/fonts/PierSans-FreeForPersonalUse/PierSans-Black.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }

 @font-face {
   font-family: 'PierSans-Bold';
   src: url('/fonts/PierSans-FreeForPersonalUse/PierSans-Bold.otf') format('opentype');          
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }
 

 @font-face {
   font-family: 'PierSans-Light';
   src: url('/fonts/PierSans-FreeForPersonalUse/PierSans-Light.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }

 @font-face {
   font-family: 'PierSans-Medium';
   src: url('/fonts/PierSans-FreeForPersonalUse/PierSans-Medium.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }

 @font-face {
   font-family: 'PierSans-Regular';
   src: url('/fonts/PierSans-FreeForPersonalUse/PierSans-Regular.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }
 
 

