@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.custom-navbar header {
background-color: transparent; /* Example: Background color for the header */
height: 80px;              /* Example: Set height */
padding: 0;           /* Example: Adjust padding */
max-width: 100%;
}

.custom-navbar ul{
background-color: transparent;
}

a:focus {
outline: 2px solid #ff6347; /* Add a focus outline for accessibility */
outline-offset: 2px;
}

a:hover {
opacity: 80%;
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Light.woff2') format('woff2'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Light.woff') format('woff'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}



@font-face {
  font-family: 'Satoshi-Regular';
  src: url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Regular.woff') format('woff'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Italic';
  src: url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Italic.woff2') format('woff2'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Italic.woff') format('woff'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Medium';
  src: url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Medium.woff') format('woff'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Bold.woff') format('woff'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}



@font-face {
  font-family: 'Satoshi-Black';
  src: url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Black.woff2') format('woff2'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Black.woff') format('woff'),
       url('./fonts/Satoshi_Complete/fonts/WEB/fonts/Satoshi-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
   font-family: 'PierSans-Black';
   src: url('./fonts/PierSans-FreeForPersonalUse/PierSans-Black.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }

 @font-face {
   font-family: 'PierSans-Bold';
   src: url('./fonts/PierSans-FreeForPersonalUse/PierSans-Bold.otf') format('opentype');          
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }
 

 @font-face {
   font-family: 'PierSans-Light';
   src: url('./fonts/PierSans-FreeForPersonalUse/PierSans-Light.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }

 @font-face {
   font-family: 'PierSans-Medium';
   src: url('./fonts/PierSans-FreeForPersonalUse/PierSans-Medium.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }

 @font-face {
   font-family: 'PierSans-Regular';
   src: url('./fonts/PierSans-FreeForPersonalUse/PierSans-Regular.otf') format('opentype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
 }
 
 

